{% extends 'base.html' %}
{% load static %}

{% block title %}اساتید | آموزشگاه موسیقی آرامش{% endblock %}

{% block page_header %}
<div class="page-title" data-aos="fade">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">اساتید</h1>
    <nav class="breadcrumbs"><ol><li><a href="{% url 'pages:home' %}">خانه</a></li><li class="current">اساتید</li></ol></nav>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>معرفی اساتید</h2>
  </div>

  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      {% for teacher in teachers %}
      <div class="col-lg-3 col-md-6">
        <div class="member-card">
          <div class="member-image-wrapper">
            <a href="{{ teacher.get_absolute_url }}" aria-label="مشاهده پروفایل {{ teacher.full_name }}">
              {% if teacher.profile_image %}
                <img src="{{ teacher.profile_image.url }}" class="img-fluid" alt="{{ teacher.full_name }}">
              {% else %}
                <img src="{% static 'assets/img/person/person-m-2.webp' %}" class="img-fluid" alt="{{ teacher.full_name }}">
              {% endif %}
            </a>
          </div>
          <div class="member-content">
            <h4 class="member-name"><a href="{{ teacher.get_absolute_url }}">{{ teacher.full_name }}</a></h4>
            <span class="member-role">
             {% for instrument in teacher.instruments.all %}
                {{ instrument.name }}{% if not forloop.last %}، {% endif %}
              {% empty %}
                ساز ثبت نشده است
              {% endfor %}
            </span>
            {% if teacher.biography %}
              <p class="member-bio">{{ teacher.biography|truncatechars:120 }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      <p>هنوز استادی ثبت نشده است.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
