{% extends 'base.html' %}

{% block title %}{{ page_title }} | آموزشگاه موسیقی آرامش{% endblock %}

{% block page_header %}
<div class="page-title" data-aos="fade">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">{{ page_title }}</h1>
    <nav class="breadcrumbs"><ol><li><a href="{% url 'pages:home' %}">خانه</a></li><li class="current">درباره ما</li></ol></nav>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="service-details section">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="service-intro">
          <p class="lead">{{ page_body|linebreaks }}</p>
        </div>
      </div>
    </div>

    {% if space_images %}
    <div class="row mt-5" data-aos="fade-up">
      <div class="col-lg-10 mx-auto">
        <h3 class="h4 mb-4">فضای آموزشگاه</h3>
        <div class="row g-3">
          {% for image in space_images %}
          <div class="col-lg-4 col-md-6">
            <a href="{{ image.image.url }}" class="glightbox d-block rounded-3 overflow-hidden" data-gallery="academy-space" title="{{ image.title|default:'فضای آموزشگاه' }}">
              <img src="{{ image.image.url }}" class="img-fluid w-100" alt="{{ image.title|default:'فضای آموزشگاه' }}" loading="lazy" style="aspect-ratio:3/2;object-fit:cover">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
